 <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Initial D is a Japanese street racing manga series written and illustrated by Shuichi Shigeno.
         It was serialized in Kodansha's seinen manga magazine Weekly Young Magazine from 1995 to 2013,
          with the chapters collected into 48 tankōbon volumes.</p></article>
        </section>
        <aside class="col-md-3">
        </aside>
      </div>
    </div>
